/* HEADER */
ion-toolbar {
  --background: #ffffff;
  border-bottom: 1px solid #e2e8f0;

  ion-title {
    font-weight: 600;
    color: #1e293b;
  }
}

.secondary-btn {
  --background: #64748b;
  --background-activated: #475569;
  --color: #fff;
  border-radius: 10px;
  font-weight: 500;
}


/* CARD BASE */
.custom-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  margin-bottom: 25px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 6px;
    font-size: 20px;
    color: #475569;
  }
}


/* LISTA */
.list-container {
  background: transparent;
  margin-top: 10px;
}

.list-item {
  background: #f1f5f9;
  margin-bottom: 10px;
  border-radius: 12px;
  --padding-start: 14px;
  --inner-padding-end: 14px;

  ion-label h3 {
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 4px;
  }

  ion-label p {
    color: #64748b;
    font-size: 0.9rem;
  }
}

.list-item ion-icon[slot="end"] {
  font-size: 20px;
  color: #64748b;
}


/* MENSAGEM VAZIA */
p {
  color: #94a3b8;
  margin-left: 5px;
  font-size: 0.95rem;
}
