<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Meus Contatos</ion-title>
    <!-- Botão que leva para a página Adicionar -->
    <ion-button slot="end" class="secondary-btn" routerLink="/adicionar-contato" routerDirection="forward">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      Novo
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Seção da API -->
  <div class="custom-card">
    <h2 class="card-title">
      <ion-icon name="cloud"></ion-icon>
      Usuários da API
    </h2>
        <ion-list class="list-container">
      <!-- Agora usamos properties binding [routerLink] para passar o ID dinamicamente -->
      <ion-item
        *ngFor="let contato of contatosFirebase"
        class="list-item"
        lines="none"
        [button]="true"
        [routerLink]="['/adicionar-contato', contato.id]"
      >
        <ion-label>
          <h3>{{ contato.nome }}</h3>
          <p>{{ contato.email }}</p>
        </ion-label>
        <ion-icon name="create-outline" slot="end" style="color: #64748b"></ion-icon>
      </ion-item>
    </ion-list>

  </div>

  <!-- Seção do Firebase -->
  <div class="custom-card">
    <h2 class="card-title">
      <ion-icon name="people"></ion-icon>
      Firebase (Firestore)
    </h2>

    <!-- Mensagem se estiver vazio -->
    <p *ngIf="contatosFirebase.length === 0" style="color: #94a3b8; padding-left: 5px;">
      Nenhum contato cadastrado ainda.
    </p>

    <ion-list class="list-container">
      <ion-item *ngFor="let contato of contatosFirebase" class="list-item" lines="none">
        <ion-label>
          <h3>{{ contato.nome }}</h3>
          <p>{{ contato.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
